.input-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper__content {
  width: 100%;
  border: none;
  border-bottom: 1px solid $gray;
  padding: 5px;
  outline: none;
  height: 35px;
}

.input-wrapper__error {
  position: absolute;
  top: 35px;
  left: 0;
  padding: 5px;
  font-size: 0.8em;
  color:$red;
}